Package: linkat-docker-onlyoffice
Version: 18.04-4
Architecture: all
Maintainer: Pablo Vigo <pvigo@xtec.cat>
Installed-Size: 17
Depends: linkat-docker
Section: linkat
Priority: optional
Homepage: http://linkat.xtex.cat
Description: Contenidor docker de l'Onlyoffice DocumentServer
 Contenidor Docker de l'Onlyoffice DocumentServer per a la Linkat edu
